html,  /*Webportal a1.2 */
body {
    height: 100%;
    margin: 0;
}

.textarea {

}

.usernamecontainer {

}

.container-fluid {

}

.optionsbox {
    height:200px;
    width: 100%;
    border: 1px solid black;
    background-color: grey;
    align-content: center;
    text-align: center;
    color: white; /*TO HELP VIEW WHERE CONTENT WILL GO*/
}

.managecarscontainer {

}

.manageprofilescontainer {

}

.managevotescontainer {

}

.managecommentscontainer {

}