html,
body {
    height: 100%;
    margin: 0;
}

@media (max-width: 415px) {

}

.auctioninfobanner {
    width: 100%;
    background-color: lightgrey;
    height: fit-content;
}

.auctioninfocontainer {
    height: 100%;
    float: left;
}

.auctionstatuscontainer {
    height: 100%;
    float: right;
}

#maincontentfluidcontainer {
    align-content: center !important;
    text-align: center !important;
    color: white !important; /*TO HELP VIEW WHERE CONTENT WILL GO*/
}