html,
body {
    height: 100%;
    margin: 0;
}

.content {
    height: fit-content;
    width: 100%;
    background-color: #262626;
}

.textcontent { /*TO HELP VIEW WHERE CONTENT WILL GO*/
    width: 100%;
    text-align: center;
}

.container {
    align-content: center;
    text-align: center;
    color: white; /*TO HELP VIEW WHERE CONTENT WILL GO*/
}