html,
body {
    height: 100%;
    margin: 0;
}

.textcontent { /*TO HELP VIEW WHERE CONTENT WILL GO*/
    width: 100%;
    text-align: center;
}

.container {
    align-content: center;
    text-align: center;
    color: white; /*TO HELP VIEW WHERE CONTENT WILL GO*/
}

.carcontainer {
    border: 1px dotted black;
}

.carimage {
    
}

.carprice {

}

.cardetails {

}

.cardetailsbttn {

}

.carauctionstatus {
    
}

.carvote {
    
}