html,
body {
    height: 100%;
    margin: 0;
}

@media (max-width: 415px) {
    .leftblock {
        width: 100% !important;
    }

    .centerblock {
        float: left !important;
        width: 50% !important;
        height: 150px !important;
    }

    .rightblock {
        float: right !important;
        width: 50% !important;
        height: 150px !important;
    }
}

.textcontent { /*TO HELP VIEW WHERE CONTENT WILL GO*/
    width: 100%;
    text-align: center;
}

.container-fluid {
    align-content: center;
    text-align: center;
    color: white; /*TO HELP VIEW WHERE CONTENT WILL GO*/
}

.row {
    padding-top: 20px;
}

.carcontainer {
    border: 1px solid black;
}

.leftblock {
    float: left;
    border: 1px solid black;
    width: 50%;
    height: 200px;
}

/* .carimage {
} */

.centerblock {
    float: left;
    border: 1px solid black;
    width: 30%;
    height: 200px;
}

.carprice {
    height: 20%;
}

.cardetails {
    margin-left: auto;
    margin-right: auto;
    height: 60%;
}

.detailsbttncontainer {
    height: 20%;
}

.rightblock {
    float: right;
    border: 1px solid black;
    width: 20%;
    height: 200px;
}

.carauctionstatus {
    height: 60%;
}

.carvote {
    height: 20%;
}

.votebttncontainer {
    height: 20%;
}